body {
    background-color: #025da6;
}

html {
    scroll-behavior:smooth;
}

/* navbar */
.navbar {
    z-index: 2;
}
.navbar-brand {
    font-size: 40px;
}
a .nav-link {
    color: blue;
    transition: all 0.3;
}
.nav-link:hover {
    transform: scale(1.5);
    margin-left: 10px;
    margin-right: 10px;
}

/* akhir navbar */

/* utama*/
.jumbotron{
    margin-top: -86px;
    background-image: url(assets/Usu.png);
    background-size: cover;
    height: 730px;
    position: relative;
}
/* .jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.309);
    position: absolute;
    bottom: 0;
} */
.btn:hover {
    color: #1e468b;
    background-color: white;
}
.jumbotron .display-4 {
    font-weight: 200;
    font-family: 'League Gothic', sans-serif;
    text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.631);
    z-index: 1;
    position: relative;
}
.link {
    background-color: #1e468b;
}
.display-4 {
    margin-top: 70px;
}
hr {
    width: 50%;
    z-index: 1;
    position: relative;
}
.lead {
    font-weight: 600;
    z-index: 1;
    position: relative;
}
.carousel p span {
    font-weight: 700;
    z-index: 1;
    position: relative;
}
.ngajak {
    font-weight: 500;
    z-index: 1;
    position: relative;
}
/* akhir utama */

/* profil */
.andalan {
    border-radius: 50px;
    box-shadow: -30px 30px rgba(0, 0, 0, 0.397);
}
.profil {
    margin-top: 150px;
    margin-bottom: 150px;
}
.profilkanan {
    margin-top: 25px;
}
.profilkanan h3 {
    font-family: 'Russo One', sans-serif;
}
.profilkanan p {
    font-size: 17px;
    font-weight: 500;
}
.kecilin h5 {
    font-size: 10;
}
.card-body {
    font-weight: 500;
    font-size: 11px;
}
.laut {
    color:#025da6;
    font-size: 50px;
}
.jdl {
    margin-top: 90px;
    margin-bottom: 35px;
    box-shadow: -16px 16px rgba(0, 0, 0, 0.397);
    background-color: white;
    width: 37%;
}
.dek {
    margin-left: 50px;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -30px 30px rgba(0, 0, 0, 0.397);
}
.rapih {
    margin: 50px;
    color:#025da6;
}
.rapihin {
    margin-top: 10px;
    color:#025da6;
}
/* akhir profil */

/* event */
.sama {
    margin-bottom: 35px;
    box-shadow: -16px 16px rgba(0, 0, 0, 0.397);
    width: 200px;
}
.carousel-item img {
    border-radius: 50px;
    border: 5px solid white;
}
.wsr {
    text-align: center;
    background-color: white;
    color:#025da6;
    padding:45px 45px 40px 35px;
    border-radius: 100%;
    box-shadow: -36px 16px rgba(0, 0, 0, 0.397);
    width: 250px;
    height: 250px;
}
.wsr h3 {
    font-size: 40px;
}
/* jasa */
.jdl3 {
    margin: auto;
    margin-bottom: 50px;
    box-shadow: -16px 16px rgba(0, 0, 0, 0.397);
    background-color: white;
    width: 37%;
}
.card-img-top {
    position: relative;
}
.card-img-top{
    border-radius: 10px 10px 10px 10px;
}
.utama {
    border-radius: 10px;
}
.layer {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 10px 10px 10px 10px;
}
.pilihan {
    display: none;
    margin-top: 130px;
    margin-left: 25%;
    padding: 10px 0px;
    font-weight: 900 !important;
    background: #025da6;
    width: 50%;
    color: white;
    border-radius: 20px;
    /* transition */
    transition: all 0.3s;    
}
.layer:hover {
    background-color: #ffffff7e;
}
.layer:hover .pilihan {
    display: grid;
}
.pilihan:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: white;
    text-decoration: none;
}
.terakhir {
    margin-bottom: 100px;
    
}
/* akhir jasa */

/* Gallery */
.slider {
    margin-top: 250px;
    margin-bottom: 130px;
}
.kecilin {
    font-size: 10px;
}
.jdl2 {
    margin-bottom: 25px;
    background-color: #1e468b;
    width: 37%;
}
.detail {
    text-shadow:2px 2px 1px black;
}
/* akhir galeri */

/* staff */
.img-text {
    width:95%;
    height: 200px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background-color:white ;
    color: #1e468b;
    border-radius: 15px;
}
.staff {
    margin-top: 150px;
    margin-bottom: 200px;
}
.img-text h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.img-text p {
    font-size: 14px;
}
.single-box {
    position: relative;
    margin-bottom: 30px;
    display: flex;
}
.col-md-4 img {    
    position: absolute;
    border: 10px solid #1e468b;
    overflow:hidden;
    border-radius:80%;
}
.bulet {
    left:0;
    top:auto;
    bottom:-70px;

}
.bulet li {
    border-radius: 50%;
    width: 15px;
    height: 15px;    
    background-color: white;
}
.bungkus2{
    background-color: #1e468b;
    margin-left: 50%;
    border-radius: 25px 0px 0px 25px;
}
/* akhir staff */

/* contact */
.jdl4{
    margin-bottom: 50px;
    box-shadow: -16px 16px rgba(0, 0, 0, 0.397);
    background-color: white;
    width: 37%;
}
.tengah a {
    color: black;
}
.birutua:hover {
    color: #3b5998;
}
.biru:hover {
    color:#00acee;
}
.pink:hover {
    color:palevioletred;
}
.merah:hover {
    color:#c4302b;
}
i {
    font-size: 30px;
    width: 100px;
    margin-bottom: 30px;
}
.tengah p {
    font-size: 20px;
}
.kontak {
    border: 20px solid white;
    height:600px;
    background-image: url(assets/1d017d1651e30a5ced6b5709adcee383.jpg);
    background-size: cover;
}
/* akhir contact */

/* footer */
    footer {
        background-color: white;
        color:#1e468b;
        font-size: 20px;
    }
/* akhir footer */
@media (max-width: 992px) {
    .img-text h5 {
        margin-top: 40px;
        font-size: 15px;
    }
   .img-text p {
        display: none;
    }
}

@media (max-width: 768px) {
    .img-area {
        left:135px;
    }
    .img-text {
        padding-bottom: 100px;
    }
    .img-text p {
        font-size: 14px;
        display: flex;
    }
}

@media (max-width: 576px) {
    .dek {
        margin-left: 0px;
        box-shadow: -20px 20px rgba(0, 0, 0, 0.397);
    }
    .card img {
        height: 250px;
    }
    .img-text {
        padding-bottom: 100px;
    }
    .img-text h5 {
        font-size: 15px;
    }
    .img-text p {
        font-size: 14px;
    }
    .jdl4 {
        width: 50%
    }
   
}
